h2, h1, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #996666;
}
td {
	font-family: "Courier New", Courier, mono;
	font-size: medium;
	font-weight: bold;
	color: #996666;
	background-color: #EAEAEA;
	text-align: left;

}
hr {
	font-weight: bolder;
	color: #996666;
	background-color: #996666;
}
body {
	background-color: #EAEAEA;
}
.bordr {
	width: 25%;
	border-top: thin solid #666666;
	border-right: thin solid #666666;
	border-bottom: thin solid #666666;
	border-left: thin none #666666;


}
.bordrlft {

	width: 25%;
	border-top: thin solid #996666;
	border-right: thin none #996666;
	border-bottom: thin solid #996666;
	border-left: thin solid #996666;
}
.smallcell {
	width: 15%;
}
.bigcell {
	width: 35%;
}
table {
width: 80%;
text-align: center;
}
.rght {
	text-align: right;
}

#date {
text-align: right;
}